.sfondo {
  background-image: url(background.jpg);
  background-size:cover;
}

.riquadro{
  background-color: black;
  width: 800px;
  height: 550px;
  margin: auto;
  background: rgba(0,0,0,0.8);
  border-radius: 10px;
  padding: 20px;

}

header{
text-align: center;
color: lightgreen;
margin-top: 40px;

}

.setlogo{
  height: 80px;
  width: 190px;
  margin:auto;
  display: block;
}

.sublogo{
  color:#66ff00 ;
  font-size: 30px;
  font-style: normal;
  font-family: sans-serif;
  margin-top:20px;
  margin-bottom: 100px;
}

.blocconav{
 background-color: #66ff00 ;
 text-align: center;
 width: 700px;
 margin: auto;
 padding:5px;
}

main span{
  color: white;
  font-family:inherit;
  font-size:25px;

}

main h5{
  margin-top: 5px;
  margin-bottom: 5px;
  color: white;
}

.setcasella{
  width: 700px;
  height: 100px;
  margin: auto;
  margin-top: 12px;
  border: 20px;
  font-style: normal;
  font-family: sans-serif;
}

.barra1{
  background-color:red;
  width: 300px;
  height: 20px;
  position: absolute;
  border-radius: 5px;
}

.barra2{
  background-color:yellow;
  width: 200px;
  height: 20px;
  position: absolute;
  border-radius: 5px;

}
.barra3{
  background-color:blue;
  width: 500px;
  height: 20px;
  position: absolute;
  border-radius: 5px;
}
